<md-toolbar class="md-info">
  <div class="md-toolbar-tools">
    <h2 class="md-title">GS &raquo; Log in</h2>
  </div>
</md-toolbar>
<md-content flex layout-padding>
  <form ng-submit="authenticate('<%= session_path(resource_name) %>')">
    <%= fields_for resource, as: resource_name do |f| %>
    <div layout layout-sm="column">
      <md-input-container>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </md-input-container>
      <md-input-container>
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </md-input-container>
    </div>
    <div layout layout-sm="column">
      <% if devise_mapping.rememberable? -%>
      <md-checkbox ng-model="rememberMe" class='md-primary'>
        <%= f.label :remember_me %>
      </md-checkbox>
      <% end -%>
    </div>
    <div layout layout-sm="column">
      <md-button class="md-raised md-primary" type="submit">
        Log in
      </md-button>
    </div>
    <% end %>
  </form>
  <div layout layout-sm="column">
    <%= render "devise/shared/links" %>
  </div>
</md-content>